<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

    <appSettings>
      <add key="ConexaoApp1" value="ednaldo"/>
    </appSettings>

    <!--<connectionStrings>  
      <add name="Servidor" connectionString="" />  
    </connectionStrings>-->

</configuration>